/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --main-font: 'Inter';
  --accent-font: 'PressStart2P';
  --main-text-weight: 410;
  --title-weight: 715;
  --background-gradient: repeating-linear-gradient(to right, #d3d3d3 0px, #d3d3d3 2px, transparent 2px, transparent 4px), repeating-linear-gradient(to bottom, #d3d3d3 0px,
      #d3d3d3 2px, transparent 2px, transparent 4px), linear-gradient(to bottom,#e7e7e7 0%, #e7e7e7 0.01%,#1a1a1a 100%);
  --accent-text-size: 14px;
  --content-width: clamp(23.4375rem, 16.2852rem + 30.5164vw, 43.75rem);
  --main-color: #fff;
  --accent-color: #000;
  --heart-contour-color: var(--accent-color);
  --heart-fill-color: #f00;
}